@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body{
    background-color: #f5f5f5;
}

.ql-toolbar.ql-snow { border: none !important;}

.ql-container.ql-snow {
    border: none !important;
    border-radius: 5px;
    background-color: #ffffff;
    
    min-height: 200px;
}

